Source: plasma-widget-networkmanagement
Section: kde
Priority: optional
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Modestas Vainius <modestas@vainius.eu>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.3), cmake (>= 2.6.2), pkg-kde-tools (>= 0.4.10), quilt (>= 0.46-7~),
 libqt4-dev (>= 4.4.0), kdelibs5-dev (>= 4:4.2.96), kdebase-workspace-dev (>= 4:4.2.96), libknotificationitem-1-dev,
 network-manager-dev (>= 0.7.0), libnm-util-dev (>= 0.7.0)
Standards-Version: 3.8.2
Vcs-Git: git://git.debian.org/git/pkg-kde/kde-extras/plasma-widget-networkmanagement.git
Vcs-Browser: http://git.debian.org/?p=pkg-kde/kde-extras/plasma-widget-networkmanagement.git

Package: plasma-widget-networkmanagement
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, network-manager (>= 0.7.0)
Suggests: kdebase-workspace-bin
Conflicts: plasma-applet-networkmanager
Replaces: plasma-applet-networkmanager
Description: Network Management widget for KDE4 Plasma
 This package contains the Network Management plasma widget which aims to
 provide a fully featured GUI for managing networks.  Currently, the only
 supported backend is NetworkManager v0.7.  Support for wired, wireless, GSM
 and VPN networks are provided.  The widget is exclusively written for Plasma
 and KDE4 and it is not supposed to work in other environments. The package
 also provides the KDE4 Control Module (kcm) for changing network settings (to
 be used by NetworkManager later).
 .
 This widget needs Plasma shell to be usable. Main KDE 4 Plasma shell is
 available in the kdebase-workspace-bin package. The user friendly name of the
 widget is "Network Management" (in e.g. "Add Widgets" dialog).
